<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Successful page</title>
  <link rel="stylesheet" href="output.css"/>
</head>
<body class="bg-pink-100 min-h-screen flex items-center justify-center">
  <header>
    <h1 class="text-4xl font-bold text-purple-700 bg-white px-6 py-4 rounded-2xl shadow-lg
               hover:shadow-2xl transition duration-300">
      Thanks for your details!
    </h1>
  </header>
</body>
</html>